<!DOCTYPE HTML>
<html lang="pt-br">

<head>
	<meta charset="UTF-8">

	<title>MMORPG - Game of Thrones</title>

	<!-- JQuery -->
	<script src="js/jquery-2.2.1.js"></script>

	<!-- bootstrap - link cdn -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
		integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

	<!-- incluindo css -->
	<link href="css/style.css" rel="stylesheet">
	<script>
		document.addEventListener("DOMContentLoaded", function () {
			let usuario = {};

			const parametros = new URLSearchParams(window.location.search);




			const divMensagens = document.getElementById('mensagens');

			switch (parametros.get('msg')) {
				case 'erro':
					divMensagens.innerHTML = ` <div class="alert alert-danger" id='msg'>
													<ul>
														<li> <strong> Operação Invalida, verifique se todos os campos foram informados! </strong></li>
													</ul>
												</div>`
					break;
				case 'acerto':
					divMensagens.innerHTML = ` <div class="alert alert-info" id='msg'>
													<ul>
														<li> <strong> Operação realizada com sucesso! </strong> </li>
													</ul>
												</div>`
					break;
				case 'todoSutidosOcupados':
					divMensagens.innerHTML = `   <div class="alert alert-info" id='msg'>
												<ul>
													<li> <strong> Todos suditos estão ocupado! </strong> </li>
												</ul>
											</div>`
					break;
				case 'C':
					divMensagens.innerHTML = `<div class="alert alert-info" id='msg'>
													<ul>
														<li> <strong> Senhor, ação ordenada foi finalizada! </strong> </li>
													</ul>
												</div>`
					break;
				case 'Deleted':
					divMensagens.innerHTML = ` <div class="alert alert-info" id='msg'>
													<ul>
														<li> <strong> Senhor, sua ordem foi revogada com sucesso! </strong> </li>
													</ul>
												</div>`
					break;

				case 'quantidadeDeveSerNumerica':
					divMensagens.innerHTML = ` <div class="alert alert-info" id='msg'>
													<ul>
														<li> <strong> Quantidade deve ser numerica! </strong> </li>
													</ul>
												</div>`
					break;



				default:
					break;
			}

			setTimeout(() => {
				divMensagens.innerHTML = '';
			}, 6000);

			$('#btn-suditos').click(function () {
				$('#msg').hide();
				$.ajax({
					url: "/gerarSuditos",
					method: "get",
					success: function (htmlRequisicao) {
						$('#acoes').html(htmlRequisicao);
						const numeroSuditosLivre = document.getElementById('numero-de-suditos-livres');
						if (numeroSuditosLivre) {
							numeroSuditosLivre.innerHTML = usuario.jogo.suditos - usuario.jogo.suditosTrabalhando;
						}

						const numeroSuditosTrab = document.getElementById('numero-de-suditos-trab');
						if (numeroSuditosTrab) {
							numeroSuditosTrab.innerHTML = usuario.jogo.suditosTrabalhando;
						}
					}
				});
			});
			const buscaJogoUsuario = function () {
				$.ajax({
					url: '/buscaJogoUsuario',
					method: 'get',
					success: function (respBuscarUsuario) {
						console.log('  buscaJogoUsuario ', respBuscarUsuario);
						usuario = respBuscarUsuario;
					}
				});
			}
			buscaJogoUsuario();
			const lerPergaminhhos = function () {
				$('#msg').hide();
				$.ajax({
					url: '/gerarPergaminhos',
					method: 'get',
					success: function (htmlRequisicao) {
						$('#acoes').html(htmlRequisicao);
						clearTimeout(timerId);
						cronometro();
					}
				});
			}
			$('#btn-pergaminhos').click(lerPergaminhhos);
			let timerId = null;
			function cronometro() {
				$('.tempo_restante').each(function () {
					let segundos = $(this).html();
					let segundo_atuais = parseInt(segundos) - 1;
					if (segundo_atuais < 0) {
						window.location.href = "/jogo?msg=C";
					} else {
						$(this).html(segundo_atuais)
					}
				});
				timerId = setTimeout(function () { cronometro(); }, 1000);
			}
		});
	</script>
</head>

<body class="body-jogo">
	<nav class="navbar navbar-default navbar-static-top">
		<a class="navbar-brand" href="/home">
			<img src="images/casa_<%=img_casa%>.jpg" width="30" height="30" class="display-logo align-top" alt="">
			Este é seu jogo, <%=jogo.nome%>!
		</a>
		<div class="container">
			<div class="form-group sair">
				<a href="/sair" id="btn-sair" class="btn btn-info pull-right">Sair</a>
			</div>
		</div>
	</nav>
	<div id="mensagens">

	</div>
	<div class="container">
		<div class="row">
			<div class="col-sm-3 casa">
				<img src="images/casa_<%=img_casa%>.jpg" />
			</div>

			<div class="col-sm-9">
				<div class="row barra-superior">
					<div class="col-sm-2">
						<img src="images/habilidades/temor.jpg" title="Temor" alt="Temor" />
						<div>Temor</div>
						<span>
							<%=jogo.temor%>
						</span>
					</div>

					<div class="col-sm-2">
						<img src="images/habilidades/sabedoria.jpg" title="Sabedoria" alt="Sabedoria" />
						<div>Sabedoria</div>
						<span>
							<%=jogo.sabedoria%>
						</span>
					</div>

					<div class="col-sm-2">
						<img src="images/habilidades/comercio.jpg" title="Comércio" alt="Comércio" />

						<div>
							comércio
						</div>
						<span>
							<%=jogo.comercio%>
						</span>
					</div>

					<div class="col-sm-2">
						<img src="images/habilidades/magia.jpg" title="Magia" alt="Magia" />
						<div>magia</div>
						<span>
							<%=jogo.magia%>
						</span>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-3"></div>
			<div class="col-sm-9">
				<div class="acoes" id="acoes">
					Senhor o que deseja fazer hoje?s
				</div>
			</div>
		</div>
	</div>
	<div class="barra-inferior">
		<div class="container">
			<div class="row">
				<div class="col-sm-2">
					<img src="images/outros/suditos.jpg" title="suditos" alt="suditos" id="btn-suditos" />
					<div>
						Total Suditos
					</div>
					<span>
						<%=jogo.suditos%>
					</span>
				</div>
				<div class="col-sm-2">
					<img src="images/outros/suditos.jpg" title="suditos" alt="suditos" id="btn-suditos" />
					<div>
						Suditos Trabalhando
					</div>
					<span>
						<%=jogo.suditosTrabalhando%>
					</span>
				</div>
				<div class="col-sm-1">
					<img src="images/outros/pergaminho.jpg" title="Pergaminhos" alt="Pergaminhos"
						id="btn-pergaminhos" />
				</div>
				<div class="col-sm-5"></div>
				<div class="col-sm-2">
					<img src="images/outros/moeda.jpg" title="Moeda" alt="Moeda" />
					<span>
						<%=jogo.moeda%>
					</span>
				</div>
			</div>
		</div>
	</div>
</body>

</html>