<div id="pergaminhos">
	<h3>Pergaminhos</h3>
	<% for(let i=0 ; i < acoes.length ; i++ ) { %>

		<% let txt_acao='' ; let imagem='' ; switch (acoes[i].acao){ 
			case '1' : txt_acao='aldeão(ões) coletando recursos' ; break; 
			case '2' : txt_acao='enforcamento(s) programado' ; break;
			case '3' : txt_acao='aldeão(ões) em treinamento de história' ; imagem='book.gif' ; break; 
			case '4' : txt_acao='aldeão(ões) em treinamento de magia' ; imagem='fire.gif' ; break; 
			default: console.log("error");
			break; } 
			const momentoAtual=new Date().getTime(); 
			const segundosRestantes=Math.round((acoes[i].acao_termina_em - momentoAtual) / 1000); %>

			<div class="row acoes-pergaminho">
				<div class="col-xs-10">
					<% if(imagem){ %>
						<img class="imagem-acao" src="images/<%=imagem%>" loading=lazy>
						<% } %>


							<%=acoes[i].quantidade%>
								<%= txt_acao %>
									- <small>restam



										<% if( parseInt(segundosRestantes )> 60){ %>
											<%= Math.round(segundosRestantes / 60) -1 %> minutos
												<% } %>

													<span class="tempo_restante">
														<%= segundosRestantes % 60 %>
													</span> segundos

									</small>
				</div>
				<div class="col-xs-2">
					<a class="btn-acao" href="/revogar_acao?id_acao=<%=acoes[i]._id%>">revogar ordem</a>
				</div>
			</div>
			<% } %>
</div>