<!DOCTYPE HTML>
<html lang="pt-br">

<head>
	<meta charset="UTF-8">
	<title>MMORPG-GOT | Usuários</title>
	<!-- JQuery -->
	<script src="https://code.jquery.com/jquery-3.3.1.js"
		integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
	<!-- bootstrap - link cdn -->
	<link rel="stylesheet" href="css/bootstrap.min.css">
	<!-- incluindo css -->
	<link rel="stylesheet" href="css/style.css">
	<script src="js/bootstrap.min.js"></script>
</head>

<body class="body-index" style="background: white">
	<nav class="navbar navbar-light bg-light">
		<a class="navbar-brand" href="/home">
			<img src="images/casa_<%=img_casa%>.jpg" width="30" height="30" class="display-logo align-top" alt="">
			Ranking, <%=nome%>!
		</a>
		<a href="/sair" id="btn-sair" class="btn btn-info pull-right">Sair</a>
	</nav>
	<section class="conteudo-pagina">
		<h1>
			Ranking
		</h1>
		<div class="container">
			<div class="row titulo">
				<div class="col-md-2 text-center">
					moeda
				</div>
				<div class="col-md-2 text-center">
					casa
				</div>
				<div class="col-md-3 text-center">
					usuario
				</div>
			</div>
			<% for( var i=0; i< usuarios.length; i++ ){%>
				<div class="row elemento">
					<div class="col-md-2 text-center">
						<%= usuarios[i].jogo.moeda%>
					</div>
					<div class="col-md-2 text-center">
						<img class="ranking-img-casas" src="images/casa_<%=usuarios[i].img_casa%>.jpg" />
					</div>
					<div class="col-md-3 text-center">
						<%= usuarios[i].nome%>
					</div>
				</div>
				<%}%>
		</div>
	</section>
</body>

</html>