<!DOCTYPE html>
	<html lang="pt-br">
		<head>
			<meta charset="utf-8"/>
			<title>Formulário de cadastro de Notícia</title>
		</head>
	<body>

		<h1>Adicionar notícia</h1>

		<% if(validacao){%>

			<ul>
				<% for( var i=0; i< validacao.length; i++){%>
					<li> <%= validacao[i].msg%></li>
				<%}%>
			</ul>
			<%}%>

		<form class="" action="/noticias/salvar" method="post">
			<label for="titulo">Titulo</label>
			<input id="titulo" type="text" value="<%=noticia.titulo%>"name="titulo" placeholder="titulo" value="">
			<div class="">

			</div>
			<label for="noticia">Noticia</label>
			<textarea id="noticia" name="noticia" ><%=noticia.noticia%></textarea>

			<div class="">

			</div>
			<label for="resumo">Resumo</label>
			<input id="resumo" value="<%=noticia.resumo%>" name="resumo" />

			<div class="">

			</div>
			<label for="autor">Autor</label>
			<input id="autor" value="<%=noticia.autor%>" name="autor" >
			<div class="">

			</div>
			<div class="">

			</div>
			<label for="data_noticia">Data dos fatos</label>
			<input type="date" id="data_noticia" value="<%=noticia.data_noticia%>" name="data_noticia" r>
			<div class="">

			</div>

			<button type="submit" placeholder="noticia" >enviar</button>
		</form>

	</body>
</html>
